.conteinor {
    display: flex;
    gap: 20px;
}
.box {
    height: 200px;
    width: 100%;
    font-size: 700;
    background-color: aquamarine;
}
@media screen and (max-width: 576px) {
    .conteinor {
        flex-direction: column;
    }   
}
@media screen and (min-width:577px) and (max-width:992px) {
    .box{ 
        background-color: rgb(61, 61, 61);

    }
    
}